<div class="promo">
  <section class="promo__section">
    <div class="promo__title-content">
      <h3 class="promo__title">Почему мы?</h3>
    </div>
  </section>
  <section>
    <div class="promo__container">
      <div class="promo__card">
        <img src="../../../../assets/images/img3.jpg" alt="photo" class="promo__img">
        <div class="promo__card-title">РОСТ ПРОДАЖ</div>
        <p class="promo__text">Рост конверсии и среднего чека</p>
        <p class="promo__text">Увеличение покупательской способности</p>
        <p class="promo__text">Моментальные покупки</p>
      </div>
      <div class="promo__card">
        <img src="../../../../assets/images/img3.jpg" alt="photo" class="promo__img">
        <div class="promo__card-title">РОСТ ПРОДАЖ</div>
        <p class="promo__text">Рост конверсии и среднего чека</p>
        <p class="promo__text">Увеличение покупательской способности</p>
        <p class="promo__text">Моментальные покупки</p>
      </div>
      <div class="promo__card">
        <img src="../../../../assets/images/img3.jpg" alt="photo" class="promo__img">
        <div class="promo__card-title">РОСТ ПРОДАЖ</div>
        <p class="promo__text">Рост конверсии и среднего чека</p>
        <p class="promo__text">Увеличение покупательской способности</p>
        <p class="promo__text">Моментальные покупки</p>
      </div>
      <div class="promo__card">
        <img src="../../../../assets/images/img3.jpg" alt="photo" class="promo__img">
        <div class="promo__card-title">РОСТ ПРОДАЖ</div>
        <p class="promo__text">Рост конверсии и среднего чека</p>
        <p class="promo__text">Увеличение покупательской способности</p>
        <p class="promo__text">Моментальные покупки</p>
      </div>
    </div>
  </section>
  <section class="promo__section">
    <div class="promo__title-content">
      <h3 class="promo__title">Как это работает?</h3>
    </div>
    <section>
      <div class="promo__container">
        <div class="promo__card">
          <div class="promo__img-contain">
            <img src="../../../../assets/icons/purchase_1x.png" alt="icon" class="promo__icon">
          </div>
          <div class="promo__card-title">ШАГ 1</div>
          <div class="promo__card-subtitle">ОФОРМЛЕНИЕ ЗАКАЗА</div>
          <p class="promo__text_big promo__text">Создание заказа может происходить в личном кабинете партнера на платформе finshop.by, либо автоматически по API</p>
        </div>
        <div class="promo__card">
          <div class="promo__img-contain">
            <img src="../../../../assets/icons/purchase_1x.png" alt="icon" class="promo__icon">
          </div>
          <div class="promo__card-title">ШАГ 1</div>
          <div class="promo__card-subtitle">ОФОРМЛЕНИЕ ЗАКАЗА</div>
          <p class="promo__text_big promo__text">Создание заказа может происходить в личном кабинете партнера на платформе finshop.by, либо автоматически по API</p>
        </div>
        <div class="promo__card">
          <div class="promo__img-contain">
            <img src="../../../../assets/icons/purchase_1x.png" alt="icon" class="promo__icon">
          </div>
          <div class="promo__card-title">ШАГ 1</div>
          <div class="promo__card-subtitle">ОФОРМЛЕНИЕ ЗАКАЗА</div>
          <p class="promo__text_big promo__text">Создание заказа может происходить в личном кабинете партнера на платформе finshop.by, либо автоматически по API</p>
        </div>
        <div class="promo__card">
          <div class="promo__img-contain">
            <img src="../../../../assets/icons/purchase_1x.png" alt="icon" class="promo__icon">
          </div>
          <div class="promo__card-title">ШАГ 1</div>
          <div class="promo__card-subtitle">ОФОРМЛЕНИЕ ЗАКАЗА</div>
          <p class="promo__text_big promo__text">Создание заказа может происходить в личном кабинете партнера на платформе finshop.by, либо автоматически по API</p>
        </div>
      </div>
    </section>
  </section>
  <section class="promo__section">
    <div class="promo__title-content">
      <h3 class="promo__title">Банки-партнеры</h3>
    </div>
  </section>
  <section class="carousel-section">
    <carousel
      [images]="images" [height]="70" [loop]="true" [autoplay]="true" [pauseOnHover]="true">
    </carousel>
  </section>
</div>
