<div class="promo">
  <section class="promo__section">
    <div class="promo__title-content">
      <h3 class="promo__title">Как работает <b>Finshop</b></h3>
    </div>
  </section>
  <section>
    <div class="promo__container">
      <div class="promo__card">
        <div class="promo__img-contain">
          <img src="../../../../assets/icons/purchase_1x.png" alt="icon" class="promo__icon">
        </div>
        <div class="promo__card-title">ШАГ 1</div>
        <div class="promo__card-subtitle">ОФОРМЛЕНИЕ ЗАКАЗА</div>
        <p class="promo__text_big promo__text">Создание заказа может происходить в личном кабинете партнера на платформе finshop.by, либо автоматически по API</p>
      </div>
      <div class="promo__card">
        <div class="promo__img-contain">
          <img src="../../../../assets/icons/purchase_2x.png" alt="icon" class="promo__icon">
        </div>
        <div class="promo__card-title">ШАГ 2</div>
        <div class="promo__card-subtitle">СОЗДАНИЕ ЗАЯВКИ</div>
        <p class="promo__text_big promo__text">Покупатель оформляет заявку на финансирование, мы получаем всю необходимую информацию для оптимального подбора банка, который профинансирует покупку</p>
      </div>
      <div class="promo__card">
        <div class="promo__img-contain">
          <img src="../../../../assets/icons/purchase_3x.png" alt="icon" class="promo__icon">
        </div>
        <div class="promo__card-title">ШАГ 3</div>
        <div class="promo__card-subtitle">ОФОРМЛЕНИЕ ДОГОВОРА</div>
        <p class="promo__text_big promo__text">После направления заявки в банк, при положительном решении, покупатель подписывает договор онлайн</p>
      </div>
      <div class="promo__card">
        <div class="promo__img-contain">
          <img src="../../../../assets/icons/purchase_4x.png" alt="icon" class="promo__icon">
        </div>
        <div class="promo__card-title">ШАГ 4</div>
        <div class="promo__card-subtitle">ДОСТАВКА ТОВАРА</div>
        <p class="promo__text_big promo__text">После подписания договора довольный покупатель получает товар! Вы - получаете рост продаж и конверсии! А мы - удовольствие от того, что были полезны Вам!</p>
      </div>
    </div>
  </section>
  <section class="promo__section">
    <div class="promo__title-content">
      <h3 class="promo__title">Банки-партнеры</h3>
    </div>
  </section>
  <section class="carousel-section">
    <carousel [images]="images" [height]="70" [loop]="true" [autoplay]="true" [pauseOnHover]="true" [autoplayInterval]="2000">
    </carousel>
  </section>
</div>
