<div class="promo">
  <section class="promo__section">
    <div class="promo__title-content">
      <h3 class="promo__title">Почему мы?</h3>
    </div>
  </section>
  <section>
    <div class="promo__container">
      <div class="promo__card">
        <img src="../../../../assets/images/img3.jpg" alt="photo" class="promo__img">
        <div class="promo__card-title">РОСТ ПРОДАЖ</div>
        <p class="promo__text">Рост конверсии и среднего чека</p>
        <p class="promo__text">Увеличение покупательской способности</p>
        <p class="promo__text">Моментальные покупки</p>
      </div>
      <div class="promo__card">
        <img src="../../../../assets/images/img3.jpg" alt="photo" class="promo__img">
        <div class="promo__card-title">РОСТ ПРОДАЖ</div>
        <p class="promo__text">Рост конверсии и среднего чека</p>
        <p class="promo__text">Увеличение покупательской способности</p>
        <p class="promo__text">Моментальные покупки</p>
      </div>
      <div class="promo__card">
        <img src="../../../../assets/images/img3.jpg" alt="photo" class="promo__img">
        <div class="promo__card-title">РОСТ ПРОДАЖ</div>
        <p class="promo__text">Рост конверсии и среднего чека</p>
        <p class="promo__text">Увеличение покупательской способности</p>
        <p class="promo__text">Моментальные покупки</p>
      </div>
      <div class="promo__card">
        <img src="../../../../assets/images/img3.jpg" alt="photo" class="promo__img">
        <div class="promo__card-title">РОСТ ПРОДАЖ</div>
        <p class="promo__text">Рост конверсии и среднего чека</p>
        <p class="promo__text">Увеличение покупательской способности</p>
        <p class="promo__text">Моментальные покупки</p>
      </div>
    </div>
  </section>
  <section class="promo__section">
    <div class="promo__title-content">
      <h3 class="promo__title">Как это работает?</h3>
    </div>
  </section>
  <section class="promo__section">
    <div class="promo__title-content">
      <h3 class="promo__title">Банки-партнеры</h3>
    </div>
  </section>
</div>
