$main-color: #488ef6;
$footer-color: #242424;
$extra-color: #D3FF76;
$theme-color: #f5f5f5;
$font-color: #999999;
$subtitle-color: #031d30;
$secondary-color: #6c757d;
$footer-height: 147px;
$header-height: 64px;
$result-color: #a0be47;
