<footer class="footer">
  <p class="footer__info">ООО "Финшоп" УНП 692186556   <a href="https://finshop.by/media/docs/Certificate_of_inclusion.pdf" class="footer__finshop-link">Свидетельство о включении в реестр лизинговых компаний №184 от 21.08.2021</a> </p>
  <div class="footer__media">
    <ul class="footer__media-list">
      <li class="footer__media-item">
        <a href="https://www.t.me/eafinshop" class="footer__media-link">
          <i class="fa fa-telegram" aria-hidden="true" style="color: #999; font-size: 16px"></i>
        </a>
      </li>
      <li class="footer__media-item">
        <a href="https://www.youtube.com/channel/UC8VOP6jvk-Een3QduuQYnaA" class="footer__media-link">
          <i class="fa fa-youtube" aria-hidden="true" style="color: #999; font-size: 16px"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
